/* importing google fonts*/ 
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap"); 

.App {
  text-align: center;
  font-family: Roboto;
}

.google-btn { /* styling for sign-in button*/ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.logout-btn { /* styling for sign-out button */ 
  width: 100px;
  height: 40px;
  background-color: #2196f3;
  border: none;
  color: white;
  cursor: pointer;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}


.add-Title { /* styling for the "add title" button */ 
  height: 100px;
  padding: 10px;
  outline: none;
  border-radius: 0;
  border: 1px solid gray;
  font: Roboto;
}

.title-input { 
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.add-btb { /* add button on the side of the titile input field */ 
  width: 100px;
  background-color: #2196f3;
  color: whitesmoke;
  font: Roboto;
  cursor: pointer;
}

.grid-main { /* allows for the documents to be in a grid-like fashion*/ 
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.grid-child { /* grid border */ 
  border: 3px solid #2196f3;
}

.grid-child:hover { /* when selecting a document, the grid in it will be shaded in*/ 
  background-color: #bbdefb;
  cursor: pointer;
}

.back-btn { /* styling for the back button*/ 
  width: 100px;
  height: 40px;
  positon: absolute;
  left: 10px;
  top: 25px;
  cursor: pointer;
}
